function formatCount(count) {
  count = parseFloat(count) || 0

  if (count > 100000000 ) {
   return (count / 100000000).toFixed(1) + '亿'
  } else if (count > 10000 ) {
    return (count / 10000).toFixed(1) + '万'
  } else {
    return count
  }
}

function padStart(num, length, padChar) {
  if ((num + '').length >= length) {
    return num
  }

  var len = length - (num + '').length
  var padStr = ''

  for (var i = 0; i < len; i++) {
    padStr += padChar
  }

  return padStr + num
}

function formatTime(time) {
  time = parseInt(time) / 1000

  var minute = parseInt(time / 60)
  var second = parseInt(time % 60)

  if (minute < 10) {
    minute = padStart(minute, 2, '0')
  }

  if (second < 10) {
    second = padStart(second, 2, '0')
  }

  return minute + ':' + second
}

function formatAc(ar = []) {
  return ar.map(function(item) {
    return item.name
  }).join('-')
}

module.exports = {
  formatCount: formatCount,
  formatTime: formatTime,
  formatAc: formatAc
}